.m-clock--hour, .m-clock--date
  font-size: 6em
  font-family: "Helvetica Neue Light", Helvetica, sans-serif
  font-weight: 200
  line-height: 1em

.m-clock--date
  line-height: .7em

  small
    font-size: .5em
