.m-clock--hour
  font-size: 12em
  top: -40px
  left: -5px
  font-family: "Helvetica Neue Light", Helvetica, sans-serif
  font-weight: 200

.m-clock--date
  font-size: 2em
  line-height: 1em
  top: 10px
  right: 15px

  small
    font-size: .7em
