.cover
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

.m-overlay
  background: rgba(0, 0, 0, 0.8)
  margin: auto
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
