- description "Dashboard est une application web regroupant tous les outils nécessaires sur une seule page d'accueil : recherche, météo, Facebook, etc..."
- keywords %w(dashboard homepage web tiste outils facebook tools weather meteo search google backbone github).join(', ')

#container
